<nav class="nav">
  <ul>
    <li>
      Customers
    </li>
    <li>
      Vendors
    </li>
    <li>
      Businesses
    </li>
    <li>
      Add City
    </li>
    <li>
      Cities
    </li>
    <li>
      Add Branch
    </li>
    <li>
      Branches
    </li>
    <li>
      Orders
    </li>
    <li>
      Custom Orders
    </li>
    <li>
      Bulk Orders
    </li>
    <li>
      Delivery Boys
    </li>
    <li>
      ReatchAll Master Database
    </li>
    <li>
      Local Ad Posting
    </li>
    <li>
      Global Ad Posting
    </li>
    <li>
      Career Portal
    </li>
    <li>
      Temporary Employees
    </li>
    <li>
      Permanent Employees
    </li>
    <li>
      Add Categories
    </li>
    <li>
      Add Sub Categories
    </li>
    <li>
      Create Business
    </li>
    <li>
      Category Banner Images
    </li>
    <li>
      Sub Category Banner Images
    </li>
    <li>
      Cabs / Autos
    </li>
    <li>
      Department Super Admins
    </li>
    <li>
      City Super Admins
    </li>
    <li>
      Branch Admins
    </li>
    <li>
      Branch Sub Admins
    </li>
    <li>
      CMS 
    </li>
    <li>
      Website Views
    </li>
    <li>
      Push Notifications
    </li>
    <li>
      Business Plans
    </li>
    <li>
      Business Analysis
    </li>
    <li>
      Customer Analysis
    </li>
    <li>
      Vendor Analysis
    </li>
    <li>
      Order Analysis
    </li>
    <li>
      Cash Management
    </li>
    <li>
      Search Analysis
    </li>
    <li>
      Transaction History
    </li>
  </ul>
</nav>
